<mat-card>
  <form (submit)="onAdicionarLivro(livroForm)" #livroForm="ngForm">
    <mat-form-field>
      <input type="text"
        required minlength="2"
        matInput
        placeholder="titulo"
        name="titulo"
        ngModel
        #titulo="ngModel">
      <mat-error *ngIf="titulo.invalid">Digite um titulo válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text"
        required minlength="3"
        matInput
        placeholder="autor"
        name="autor"
        ngModel
        #autor="ngModel">
      <mat-error *ngIf="autor.invalid">Digite um nome válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text"
        required minlength="1"
        matInput
        placeholder="paginas"
        name="paginas"
        ngModel
        #paginas="ngModel">
      <mat-error *ngIf="paginas.invalid">Digite o número de páginas</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent">Cadastrar</button>
  </form>


</mat-card>

