<mat-card>
  <form (submit)="onSalvarLivro(livroForm)" #livroForm="ngForm">
    <mat-form-field>
      <input type="text"
        required
        matInput
        placeholder="titulo"
        name="titulo"
        [ngModel]="livro?.titulo"
        #titulo="ngModel">
      <mat-error *ngIf="titulo.invalid">Digite um titulo válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text"
        required minlength="3"
        matInput
        placeholder="autor"
        name="autor"
        [ngModel]="livro?.autor"
        #autor="ngModel">
      <mat-error *ngIf="autor.invalid">Digite um nome válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text"
        required minlength="1"
        matInput
        placeholder="paginas"
        name="paginas"
       [ngModel]="livro?.paginas"
        #paginas="ngModel">
      <mat-error *ngIf="paginas.invalid">Digite o número de páginas</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent">Salvar Livro</button>
  </form>


</mat-card>

